@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Roboto:wght@400;500&display=swap");

body {
  background-color: #ffffff;
  user-select: none;
}

img {
  max-width: 200px;
  height: 35px;
}

/* ⇓ ⇓ ⇓ ⇓ ⇓ header ⇓ ⇓ ⇓ ⇓ ⇓ */
.header {
  display: block;
  width: auto;
  height: 80px;
  padding: 23px 0;
}
.header :only-child {
  margin: 0px 360px;
}
/* ⇧ ⇧ ⇧ ⇧ ⇧ header ⇧ ⇧ ⇧ ⇧ ⇧ */

/* ⇓ ⇓ ⇓ ⇓ ⇓ main ⇓ ⇓ ⇓ ⇓ ⇓ */

/* ⇧ ⇧ ⇧ ⇧ ⇧ main ⇧ ⇧ ⇧ ⇧ ⇧ */

/* ⇓ ⇓ ⇓ ⇓ ⇓ footer ⇓ ⇓ ⇓ ⇓ ⇓ */
.footer {
  display: block;
  width: auto;
  height: 193px;
  margin: 0px auto;
  padding: 23px 0;
  background-color: #16133d;
}

.footer > * {
  margin: 0px 360px;
}

.icons {
  padding: 0;
  list-style: none;
}

.icons__icon {
  display: inline-block;
}
/* ⇧ ⇧ ⇧ ⇧ ⇧ footer ⇧ ⇧ ⇧ ⇧ ⇧ */ ;
