@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Roboto:wght@400;500&display=swap");

body {
  background-color: #ffffff;
  width: 1200px;
  margin: 0px auto;
  margin: 0px auto;
  user-select: none;
}

/* ⇓ ⇓ ⇓ ⇓ ⇓ header ⇓ ⇓ ⇓ ⇓ ⇓ */

/* ⇧ ⇧ ⇧ ⇧ ⇧ header ⇧ ⇧ ⇧ ⇧ ⇧ */

/* ⇓ ⇓ ⇓ ⇓ ⇓ main ⇓ ⇓ ⇓ ⇓ ⇓ */

/* ⇧ ⇧ ⇧ ⇧ ⇧ main ⇧ ⇧ ⇧ ⇧ ⇧ */

/* ⇓ ⇓ ⇓ ⇓ ⇓ footer ⇓ ⇓ ⇓ ⇓ ⇓ */

/* ⇧ ⇧ ⇧ ⇧ ⇧ footer ⇧ ⇧ ⇧ ⇧ ⇧ */
